.sticky-table {
  border-collapse: separate;
  border-spacing: 0;
}

.sticky-left-cell {
  position: sticky;
  left: 0;
  background-color: white !important;
  z-index: 2;
}

.inline-cell {
  white-space: nowrap;
}

.group-wrap {
  display: block;
  flex-wrap: wrap;
}

.available {
  background-color: rgba(0, 255, 0, 0.1) !important;
}

.brand-wrap {
  white-space: normal;
}

/* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
@media screen and (max-width: 450px) {
  .fluid-text {
    font-size: clamp(0.5rem, 2.8vw, 2rem);
    font-weight: bolder;
  }
}
