.mm-logo {
  width: 30% !important;
}

.mm-main-image {
  width: 50% !important;
  border-radius: 0 !important;
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.card-main {
  border: 0 !important;
  align-items: center;
  width: 80%;
}

@media (max-width: 600px) {
  .responsive-width {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .responsive-width {
    width: 70%;
  }
}

@media (min-width: 1025px) {
  .responsive-width {
    width: 50%;
  }
}
