.sticky-body {
  height: 75vh;
  overflow-y: auto;
}

.sticky-top-cell {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.badge-nothome {
  color: black;
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 0.8em;
  font-weight: bold;
  width: 1em;
}

.container-nothome {
  position: relative;
  height: 0.75em;
  width: 1.5em;
  z-index: 1;
  display: inline-block;
}

.nothome-envelope {
  opacity: 0.4;
}